.toolbar {
    display: grid;
    grid-template-columns: repeat(2, auto);
    justify-content: space-between;
}

.toolBarRight {
    width: 100px;

    display: grid;
    grid-template-columns: repeat(2, auto);
    justify-content: space-between;

}

.toolBarLeft {
    display: grid;
    grid-template-columns: repeat(2, auto);
    align-items: center;
}