<p>
    <mat-toolbar color="primary" class="toolbar">

        <div class="toolBarLeft">
            <button mat-icon-button class="example-icon">
                <mat-icon>menu</mat-icon>
            </button>
            <span>แบบฝึกหัดที่ 10</span>
        </div>

        <div class="toolBarRight">
            <button mat-mini-fab color="accent">
                <mat-icon>favorite</mat-icon>
            </button>
            <button mat-mini-fab color="warn">
            <mat-icon>share</mat-icon>
            </button>

        </div>


    </mat-toolbar>
</p>