<div class="footer">

    <div class="footerContent">

        <p>Are you already helping people?</p>

        <p>In case that you have already signed up as a helper, please download our applications below so</p>
        <p>you can provide better and faster help to those who need it.</p>
        <p>And if not, you can still do it from our platform or the applications</p>
        <p>Help and be helped!</p>

        <div class="footerButton">
            <button>ANDROID</button>
            <button>IOS</button>
        </div>
    </div>
</div>