<div class="form">
    
    <div>
        <mat-form-field hintLabel="กรุณากรอก List กิจกรรมประจำวันนี้" appearance="fill" color="primary">
            <mat-label>กิจกรรม</mat-label>
            <input matInput placeholder="" [(ngModel)]="task">
        </mat-form-field>
    </div>
    <div class="alignButton">
        <mat-card-actions>

            <!-- <button mat-raised-button color="primary" (click)="addTask()">บันทึก</button> -->
            <button mat-raised-button color="primary" >บันทึก</button>


        </mat-card-actions>
    </div>

</div>