<div class="banner">

    <div class="topBanner">

        <div class="topBannerLeft">

            <img src="../../assets/img/leftBanner.png" alt="">
        </div>

        <div class="topBannerRight">

            <div class="topBannerRightTop">

                <img src="../../assets/img/bannerTop.png" alt="">
            </div>

            <div class="topBannerRightBottom">

                <img src="../../assets/img/bannerBottom.png" alt="">

            </div>


        </div>
    
    </div>

</div>