.mainPage {
    background: burlywood;
    
    min-height: 200px;
    display: grid;
    
    /* place-items: center; */

    margin: 2rem;
    padding: 2rem;

}

.main {
    margin-top: 2rem;
    background: rgb(107, 62, 211);
    width: 100%;

    display: grid;
    place-items: center;

    padding: 2rem;
}