<div class="body">

    <!-- 10 -->
    
    <mat-card class="counting">
        <mat-card-header>
            <mat-card-title>Homework 2</mat-card-title>
            <mat-card-subtitle>หัวข้อที่ 13.4</mat-card-subtitle>
        </mat-card-header>
        
        <!-- // Image -->

        <img mat-card-image src="../../assets/img/image.png" alt="">
        <mat-card-content>

            <!-- Content ######### -->
            <app-to-do-list></app-to-do-list>
    
        </mat-card-content>
    
        <mat-card-actions>
    
            <button mat-raised-button color="accent">Like</button>
            <button mat-raised-button color="warn">Share</button>
            
        </mat-card-actions>
    </mat-card>


</div>