<div class="body">

    <!-- 10 -->
    
    <mat-card class="counting">
        <mat-card-header>
            <mat-card-title>Lab 4: ทดสอบ Directive</mat-card-title>
            <mat-card-subtitle>หัวข้อที่ 11</mat-card-subtitle>
        </mat-card-header>

            <!-- Image @@@@@@@-->
        <img mat-card-image src="assets/img/question.png" alt="">
    
        <mat-card-content>

            <!-- Content ######### -->
            <app-lab4></app-lab4>
    
        </mat-card-content>
    
        <mat-card-actions>
    
            <button mat-raised-button color="accent">Like</button>
            <button mat-raised-button color="warn">Share</button>
            
        </mat-card-actions>
    </mat-card>


</div>