<div class="body">

    <!-- 10 -->
    
    <mat-card class="counting">
        <mat-card-header>
            <mat-card-title>Lab 3: Component-Template-CSS</mat-card-title>
            <mat-card-subtitle>หัวข้อที่ 10</mat-card-subtitle>
        </mat-card-header>
    
        <mat-card-content>

            <!-- Content ######### -->
            
    
        </mat-card-content>
    
        <mat-card-actions>
    
            <button mat-raised-button color="accent">Like</button>
            <button mat-raised-button color="warn">Share</button>
            
        </mat-card-actions>
    </mat-card>


</div>