<div class="content2">
    
    <div class="content2Main">

        <div class="content2MainFirst">

            <h3>How does it all work?</h3>
            <ul>
                <li>FOR PEOPLE WHO NEED HELP</li>
                <li>FOR PEOPLE WHO PROVIDE HELP</li>
                <li>FOR SHOP OWNERS</li>
            </ul>

        </div>

        <div class="content2MainSecond">
            <div class="content2Image">
                <img src="../../assets/img/gif.gif" alt="">
            </div>
        </div>

        <div class="content3MainThird">

            <p>So you finally decided to buy that new phone and found it in website, at a great price. 
                However, you are still not sure and want to find out if its performance will be the same, two years ahead in time? 
                If you ask the customer support of that website, they will surely somehow convince you that what you wanna buy is the perfect product.
                Imagine if you can ask somebody that has already purchased this exact same product, without leaving the site?</p>
            
        </div>
    </div>

</div>